<div class="wrapper">
    <mat-card>
        <mat-card-title>{{ pageTitle }}</mat-card-title> 
        <mat-form-field appearance="fill">
            <mat-label>Title:</mat-label>
            <input matInput required name="name" [(ngModel)]="model.name">
        </mat-form-field>
        <mat-form-field apperance="fill">
            <mat-label>Description:</mat-label>
            <textarea matInput placeholder="Ex. It makes me feel..." name="description" [(ngModel)]="model.description"></textarea>
        </mat-form-field>
        <app-date-input (updateDate)="getDate($event)" [model]="model"></app-date-input>
        <app-duration (updateDuration)="getDuration($event)" [model]="model"></app-duration>
        <mat-card-actions>
            <button (click)="cancel()">Cancel</button>
            <button (click)="pageTitle === 'New course' ? addCourse() : editCourse()">Save</button>
        </mat-card-actions>
    </mat-card>
</div>
