<div class="wrapper" [formGroup]="courseForm">
    <mat-card>
        <mat-card-title translate>{{ pageTitle }}</mat-card-title> 
        <mat-form-field appearance="fill">
            <mat-label translate>Title:</mat-label>
            <input matInput name="name" formControlName="name">
            <mat-error *ngIf="courseForm.controls['name'].hasError('required')">
              <span translate>The field is required</span>
            </mat-error>
            <mat-error *ngIf="courseForm.controls['name'].hasError('maxlength')">
              <span translate>Course title's max length is 50</span>
            </mat-error>
        </mat-form-field>
        <mat-form-field apperance="fill">
            <mat-label translate>Description:</mat-label>
            <textarea matInput placeholder="Ex. It makes me feel..." name="description" formControlName="description"></textarea>
            <mat-error *ngIf="courseForm.controls['description'].hasError('required')">
              <span translate>The field is required</span>
            </mat-error>
            <mat-error *ngIf="courseForm.controls['description'].hasError('maxlength')">
              <span translate>Course description is to long</span>
            </mat-error>
        </mat-form-field>
        <app-date-input formControlName="date" [errorMatcher]="createCustomErrorMatcher('date')"></app-date-input>
        <app-duration formControlName="length" [errorMatcher]="createCustomErrorMatcher('length')"></app-duration>
        <app-authors-input formControlName="authors" [errorMatcher]="createCustomErrorMatcher('authors')" [authors]="authors"></app-authors-input>
        <mat-card-actions>
            <button (click)="cancel()"><span translate>Cancel</span></button>
            <button (click)="pageTitle === 'Create' ? addCourse() : editCourse()" [disabled]="courseForm.invalid" [ngClass]="{ disabled: courseForm.invalid }"><span translate>Save</span></button>
        </mat-card-actions>
    </mat-card>
</div>
