:host{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: calc(100% - 204px);
    height: 100%;
}
.wrapper {
    width: 100%;
    background-color: #f0f7ff;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .mat-card {
        max-width: 700px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        padding: 20px;
        .mat-card-actions {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
        }
        button {
            background-color: var(--primary-btn-color);
            color: #fff;
            border: none;
            outline: none;
            padding: 10px 0;
            width: 85px;
            text-align: center;
            margin: 0 5px;
            border-radius: 3px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all .2s linear;
            cursor: pointer;
            .material-icons {
                font-size: 20px;
                margin-right: 5px ;
            }
            &:hover {
                background-color: lighten(  #0079AD, 10%);
            }
            &.disabled {
                background-color: #c9cbcc;
            }
        }
    }

    

}