<div [formGroup]="form">
    <mat-form-field appearance="fill">
        <mat-label translate>Date:</mat-label>
        <div>
            <input
            matInput
            name="date"
            (blur)="onTouched()"
            [errorStateMatcher]="errorMatcher"
            formControlName="date">
            <i class="material-icons">calendar_today</i>
        </div>
        <mat-error *ngIf="errorMatcher.hasError('required')">
            <span translate>The field is required</span>
          </mat-error>
          <mat-error *ngIf="errorMatcher.hasError('pattern')">
            <span translate>Required date format is "dd/mm/yyyy"</span>
          </mat-error>
    </mat-form-field>
</div>

