<div class="form-wrapper">
    <form fxLayout="column" fxLayoutAlign="flex-start flex-start" (ngSubmit)="login()">
        <p>Login</p>
        <mat-form-field appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com" required [(ngModel)]="user.email" name="email">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="isPasswordHidden ? 'password' : 'text'" [(ngModel)]="user.password" name="password">
            <button mat-icon-button matSuffix (click)="isPasswordHidden = !isPasswordHidden" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="isPasswordHidden">
            <i class="material-icons">{{isPasswordHidden ? 'visibility_off' : 'visibility'}}</i>
            </button>
          </mat-form-field>
          <button class="submit">Login</button>
    </form>
</div>
