@import '~@angular/material/prebuilt-themes/indigo-pink.css';

:root {
    /* Header colors */
  
    --header-bg-color: #303240;
    --header-text-color: #FFFFFF;
    
    /* text */
    --project-text-color: #464A5A;

    /* footer */
    --footer-bg-color: #303240;
    --footer-text-color: #FFFFFF;

    /* buttons */
    --primary-btn-color:  #0079AD; 
    --secondary-btn-color: #bdee68;;
  
    
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-input-element {
  caret-color: var(--primary-btn-color) !important;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #fff !important;
}


