<div class="wrapper" >
  <ng-container *ngIf="course">
    <mat-card [publicationDate]="publicationDate" appBorderColor [ngClass]="{top: course.isTopRated === true}">
        <mat-card-title>{{ course.name | uppercase}}<i class="material-icons" *ngIf="course.isTopRated">grade</i></mat-card-title>
        <mat-card-subtitle>
            <p><i class="material-icons">access_time</i>{{ course.length | duration }}</p>
            <p><i class="material-icons">date_range</i><span class="creation">{{ course.date | date: 'd MMM, y' }}</span></p>
        </mat-card-subtitle>
        <mat-card-content> {{ course.description }}</mat-card-content>
        <mat-card-actions>
            <button [routerLink]="[course.id]" routerLinkActive="active"><i class="material-icons">edit</i>Edit</button>
            <button class="delete-button" (click)="onRemove()"><i class="material-icons">delete</i>Delete</button>
        </mat-card-actions>
    </mat-card>
  </ng-container>
</div>

