:host {
    width: 100%;
    .wrapper {
        width: 100%;
        background-color: var(--header-bg-color);
    }
    
    .navigation {
        max-width: 1110px;
        width: 100%;
        margin: 0 auto;

        .controls {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          .lang-dropdown {
              margin-left: 25px;
              .mat-select-placeholder {
                color: var(--header-text-color) !important;
              }
            }
        }

    }
    .user-info {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    img {
        width: 20px;
        height: auto;
    }
    button, p, span{
        background-color: transparent;
        border: none;
        color: var(--header-text-color);
        font-size: 14px;
        line-height: 24px;
        padding-left: 10px;
        cursor: pointer;
    }
    .login,
    .logoff {
        padding-left: 20px;
    }
    }
}