:host {
    width: 100%;
    .breadcrumbs-wrapper {
        width: 100%;
        padding: 20px 0;
        background-color: #fff;
    }

    ul {
        max-width: 1110px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0 auto;
    }

    li {
        list-style: none;
        span {
            color: var(--project-text-color);
            font-size: 14px;
            text-align: left;
            font-weight: 700;
            padding: 0 10px;
        }
    }

    li::after {
        content: "/";
        color: var(--project-text-color);
    }

    li:last-child::after {
        content: "";
    }
       
}