:host {
    width: 100%;
    .breadcrumbs-wrapper {
        width: 100%;
        padding: 20px 0;
        background-color: #fff;
    }

    .breadcrumbs-wrapper div {
        max-width: 1110px;
        width: 100%;
        margin: 0 auto;
    }
    a {
        color: var(--project-text-color);
        font-size: 14px;
        text-align: left;
        font-weight: 700;
        text-decoration: none;
        
    }
}