<div class="wrapper">
    <div class="button-container">
        <button><i class="material-icons">add</i>Add course</button>
    </div>
    <ng-container *ngIf="!coursesList">
        <mat-card><mat-card-title>No data. Feel free to add new course</mat-card-title></mat-card>
    </ng-container>
    <ng-container *ngIf="coursesList">
      <app-course-item *ngFor="let course of (coursesList | orderBy: 'upDate')" [course]="course" (remove)="onDelete($event)"></app-course-item>
      <mat-card>
        <button class="load-button" (click)="onLoad()">Load more</button>
      </mat-card>
    </ng-container>
</div>
